
<div class="navbar navbar-expand-sm navbar-light navbar-cocktail">
  <%= link_to root_path do  %>
  <h3>
    <i class="fas fa-glass-martini" aria-hidden='true'> Home </i>
  </h3>
  <% end %>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
   <div class="nav-item">
      <%= link_to "Create a new cocktail", new_cocktail_path, class: "btn btn-primary" %>
    </div>
    </ul>
  </div>
</div>
